<% include ../views/partials/header %>
<body style="background: linear-gradient(120deg, #8dc9f1, #e1aef7);">
<a href="/">Go Back</a>
<h1><i class="fa fa-user"></i> <%= name %></h1>

<%if (players.length > 0) { %>
    <ul class="list-group">
        <strong>Team Players:</strong><br><br>
        <% players.forEach(function(player) { %>
            <li class="list-group-item"><h5><a href="/player/<%= player.id %>"><%= player.name %></a></h5></li>
        <% }); %>
    </ul>
<% } %>

<%if (coachs.length > 0) { %>
    <ul class="list-group">
        <strong>Team Coachs:</strong><br><br>
        <% coachs.forEach(function(coach) { %>
            <li class="list-group-item"><h5><a href="/coach/<%= coach.id %>"><%= coach.name %></a></h5></li>
        <% }); %>
    </ul>
<% } %>

</body>
<% include ../views/partials/footer %>