
<% include ../views/partials/header %>
<body style="background: linear-gradient(120deg, #8dc9f1, #e1aef7);">
<a href="/">Go Back</a>

<h1><i class="fa fa-user"></i> <%= name %></h1>

<% if (infos.length > 0) { %>
    <ul class="list-group">
        <li class="list-group-item"><strong>Age:</strong> <%= infos[0].age %></li>
        <li class="list-group-item"><strong>Number:</strong> <%= infos[0].number %></li>
        <li class="list-group-item"><strong>Height:</strong> <%= infos[0].height %></li>
        <li class="list-group-item"><strong>Weight:</strong> <%= infos[0].weight %></li>
    </ul>
<% } %>

<% if (nbateams.length > 0) { %>
    <ul class="list-group">
        <% nbateams.forEach(function(nbateam) { %>
            <li class="list-group-item"><strong>NBA Team:</strong><h5><a href="/nbateam/<%= nbateam.id %>"><%= nbateam.name %></a></h5></li>
        <% }); %>
    </ul>
<% } %>
<%if (coachs.length > 0) { %>
    <ul class="list-group">
        <strong>Team Coachs:</strong><br><br>
        <% coachs.forEach(function(coach) { %>
            <li class="list-group-item"><h5><a href="/coach/<%= coach.id %>"><%= coach.name %></a></h5></li>
        <% }); %>
    </ul>
<% } %>

</body>
<% include ../views/partials/footer %>